.imaginator-view {

	&__item {
		display: inline-block;
		height: auto;
		width: calc(16%);
		margin: 0 5% 20px 0;

		&:nth-child(5n) {
			margin: 0 0 20px 0;
		}
	}

	&__item-image {
		display: flex;
		height: 200px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background: url('../../img/imaginator-pattern.png');
		align-items: center;
		background-size: 150px;

		img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			max-width: 100%;
			max-height: 100%;
			width: 100%;
		}
	}

	&__item-placeholder {
		display: block;
		width: 100%;
		height: 200px;
		background: lightgray;
	}

	&__item-name {
		font-size: 16px;
		line-height: 1.9em;
		text-align: center;

		a {
			color: darkgreen;
		}
	}


}
